{% extends 'base.html' %}

{% block title %}edit.html{% endblock %}

{% block content %}
    <h5 class="my-3 border-bottom pb-2">간식 신청 정보 변경</h5>
    <form id="snack-update-form" method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="button" value="완료" class="btn btn-primary" onclick="snackUpdate(false)"/>
        <input type="button" value="삭제" class="btn btn-danger ms-2" onclick="snackDelete()"/>
    </form>
{% endblock %}

{% block extra-script %}
    <script>
        isLogin();
    </script>
{% endblock %}