{% extends 'snack/snack_request_list.html' %}

{% block title %}monthly_list.html{% endblock %}

{% block snack-monthly-list-extra-classes %}active{% endblock %}

{% block extra-script %}
    <script>
        var url_parts = window.location.href.split('/');
        $(".list-name").text(url_parts[5]+"년 "+url_parts[6]+"월 비치 예정 목록");
        $.ajax({
            url: "/api/snack_request/monthly_list/"+url_parts[5]+"/"+url_parts[6]+"/",
            type: "GET",
            dataType: "json",
        }).done(function(res){
            snackRequestListDone(res);
        }).fail(function(request, status, error){
            alert(request.responseText);
        })
    </script>
{% endblock %}