{% extends 'snack/monthly_list.html' %}

{% block title %}snack_request_legacy_list.html{% endblock %}

{% block list-name %}이전 간식 목록{% endblock %}

{% block extra-script %}
    <script>
        function getPaginatedSnackData(currentPage) {
            var pageSize = 10;
            $('#all-snack-table > tbody').empty();
            $.ajax({
            url: "/api/snack_request/legacy_list/?page="+currentPage,
            type: "GET",
            dataType: "json",
            }).done(function(res){
                var snackRequests = res.results;
                snackRequestListDone(snackRequests);
                var totalPage = parseInt((Number(res.count)-1)/pageSize)+1;
                if(res.previous==null) var navStr = "<li class=\"page-item disabled\"><a class=\"page-link\">Previous</a></li>";
                else var navStr = "<li class=\"page-item\"><a href=\"#\" class=\"page-link\" onclick=\"getPaginatedSnackData("+(currentPage-1)+")\">Previous</a></li>";
                navStr += "<li class=\"ms-3 me-3 mt-1\"><span class=\"align-middle\">Page "+currentPage+" of "+totalPage+"</span></li>";
                if(res.next==null) navStr += "<li class=\"page-item disabled\"><a class=\"page-link\">Next</a></li>";
                else navStr += "<li class=\"page-item\"><a href=\"#\" class=\"page-link\" onclick=\"getPaginatedSnackData("+(currentPage+1)+")\">Next</a></li>";
                $('#pagination-nav > ul:last').html(navStr);
            }).fail(function(request, status, error){
                alert(request.responseText);
            })
        }
        getPaginatedSnackData(1);
    </script>
{% endblock %}