{% extends 'base.html' %}

{% block title %}snack_list.html{% endblock %}

{% block content %}
    <h5 class="my-3 border-bottom pb-2 list-name">{% block list-name %}간식 신청 목록(전체){% endblock %}</h5>
    <table id="all-snack-table" class="table table-bordered table-striped text-center align-middle">
        <thead>
        <tr>
            <th scope="col" width="15%">간식 이름</th>
            <th scope="col" width="10%">사진</th>
            <th scope="col" width="10%">구매 URL</th>
            <th scope="col" width="20%">설명</th>
            <th scope="col" width="13%">신청 일자</th>
            <th scope="col" width="17%">주문 상태</th>
            <th scope="col" width="15%">주문 변경</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <nav id="pagination-nav" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        </ul>
    </nav>
{% endblock %}

{% block extra-script %}
    <script>
        function getPaginatedSnackData(currentPage) {
            var pageSize = 10;
            $('#all-snack-table > tbody').empty();
            $.ajax({
                url: "/api/snack_request/?page=" + currentPage,
                type: "GET",
                dataType: "json",
            }).done(function (res) {
                var snackRequests = res.results;
                snackRequestListDone(snackRequests);
                createSnackNav(res, pageSize, currentPage);
            }).fail(function (request, status, error) {
                alert(request.responseText);
            })
        }

        getPaginatedSnackData(1);
    </script>
{% endblock %}