{% extends 'snack/monthly_list.html' %}

{% block title %}snack_request_legacy_list.html{% endblock %}

{% block list-name %}이전 간식 목록{% endblock %}

{% block extra-script %}
    <script>
        function getPaginatedSnackData(currentPage) {
            var pageSize = 10;
            var supplyYear = "";
            var supplyMonth = "";
            $.ajax({
                url: "/api/snack_request/month_list/",
                type: "GET",
                dataType: "json",
            }).done(function (res) {
                supplyYear = res.year_month_list[0][0];
                supplyMonth = res.year_month_list[0][1];
                $('#all-snack-table > tbody').empty();
                $.ajax({
                    url: "/api/snack_request/?max_year_month=" + supplyYear + "," + supplyMonth + "&page=" + currentPage,
                    type: "GET",
                    dataType: "json",
                }).done(function (res) {
                    var snackRequests = res.results;
                    snackRequestListDone(snackRequests);
                    createSnackNav(res, pageSize, currentPage);
                }).fail(function (request, status, error) {
                    alert(request.responseText);
                })
            }).fail(function (request, status, error) {
                alert(request.responseText);
            })
        }

        getPaginatedSnackData(1);
    </script>
{% endblock %}
