{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}register.html{% endblock %}

{% block content %}

    <h1>New User Registration</h1>

    <form id="register-form" method="post" class="card pt-3">
        {% csrf_token %}
        <div class="form-group row">
            {{ form.email|add_label_class:"col-form-label col-sm-3 mb-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.email|add_class:"form-control"|attr:"autofocus" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.username|add_label_class:"col-form-label col-sm-3 mb-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.username|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.password1|add_label_class:"col-form-label col-sm-3 mb-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.password1|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.password2|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.password2|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-3 col-sm-5">
                <input type="button" value="회원 가입" class="btn btn-info" onclick="register()"/>
            </div>
        </div>

    </form>

{% endblock %}

{% block extra-script %}
    <script>
        function register() {
            var formData = new FormData($('#register-form')[0]);
            $.ajax({
                url: "/api/user/",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
            }).done(function(res){
                window.location.replace("/accounts/register/done/");
            }).fail(function(request, status, error){
                alert(request.responseText);
            })
        };
    </script>
{% endblock %}